
#userBox, #blogDisplay {
	display: inline-block;
	vertical-align: top;
	margin-left: 15px;
}

#blogDisplay {
	width: 700px;
	height: 100%;
	margin-top: 20px;
	padding-left: 5px;
	padding-right: 5px;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

#displayInformation {
	background-color: rgba(236,240,241 ,1);
	width: 145px;
	height: 40px;
	font: 0.8em;
	padding: 5px;
	position: absolute;
	visibility: hidden;
	border: 1px rgba(189,195,199 ,1) solid;
}